<!DOCTYPE html>
<html>
  <head>
    <title>Log Streamer</title>
    <style>
      #logs-view {
        position: absolute;
        min-height: 600px;
        max-height: 600px;
        min-width: 800px;
        overflow-y: scroll;
        background-color: black;
        color: white;
      }

      #logs-view > p {
          margin: 0;
      }
    </style>
    <script>
      onload = () => {
        const form = document.querySelector("#process-input-form");
        let socket = null;

        form.addEventListener("submit", (event) => {
          event.preventDefault();

          const id_input = document.querySelector("#process-id-input");
          const id = id_input.value;
          if (id == "" || id == null) {
            console.error("No process-id specified");
            return;
          }

          const logs_view = document.querySelector("#logs-view");
          logs_view.innerHTML = "";

          if (socket !== null) {
            socket.close();
          }

          console.log("Connecting to socket...");
          socket = new WebSocket(`ws://localhost:8000/process/${id}`);
          socket.addEventListener("message", event => {
            const message = JSON.parse(event.data);
            const p = document.createElement("p");
            p.innerText = message["message"];
            logs_view.append(p);
            logs_view.scroll(0, logs_view.height);
          });
        });
      };

    </script>
  </head>

  <body>
    <div>
      <form id="process-input-form">
        <label for="process-id-input">Process ID</label>
        <input id="process-id-input" name="process-id-input" type="text" placeholder="Process" />
      </form>
    </div>

    <div id="logs-view">
    </div>
  </body>
</html>
